@model CGPA.Dtos.DepartmentModel

@{
    ViewData["Title"] = "Details";
}

<div>
    <h3>Department Details</h3>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Courses)
        </dt>

        @foreach (var course in Model.Courses)
        {
            <dd class="col-sm-10">
                @course.Name
            </dd>
        }
    </dl>

    <a asp-action="Index">Back to List</a>

</div>
